/*! == GRID == */
/*=====MASTER GRID RULES=====*/

.container {
  position: relative;
  display: grid;
  grid-template-columns:$page-split;
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 1rem;
  &.grid-gap {
    grid-gap: 3rem;
  }
  &.reverse {
    grid-template-columns:$reverse-page-split;  
  }
}
