/*! == GRID == */
/*=====MASTER GRID RULES=====*/

.container {
  position: relative;
  display: grid;
  grid-template-columns:$page-split;
  max-width: $container-width;
  margin: 0 auto;
  }

.main-content {
  
}

.side-content {
  
}