/*! == MEDIA QUERIES == */

@each $name,
$size in $breakpoints {
    @media (max-width: #{$size}) {
        .container {
            max-width: #{$size};
        }
    }
}

.mobile {
    display: none;
}

/*===========LARGE (1200px)==========*/

@media only screen and(max-width: 1200px) {
    /*---GLOBALS---*/

    /*---HEADER---*/
    .switch-wrapper__label {
        display: none;
    };

    /*---CONTENT---*/

    /*---FOOTER---*/
} /*---end large mq---*/

/*===========MEDIUM (992px)==========*/

@media only screen and(max-width: 992px) {
    /*---GLOBALS---*/

    .mobile {
        display: block;
        margin-top: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .desktop {
        display: none;
    }
    
    .heading {
        &__1 {
            font: ($font_size * 2) + px / ($font_line-height * 3) + px $font_primary;
        }
        &__2 {
            font: ($font_size * 1.6) + px / ($font_line-height * 2) + px $font_primary;
        }
    }
    /*---HEADER---*/
    
    header.mobile {
        
        &:before {
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: transparent;
            transition: all .5s ease;
        }
        .container {
            grid-template-columns: 1fr 1fr;
            svg {
                height: 4rem;
            }
        }
        .menu-trigger {
            text-align: right;
            i {
                font-size: 2rem;
                color: white;
            }
            i:nth-of-type(2) {
                display: none;
            }
        }
    }
    header.mobile .container svg {
        transition: height .5s ease;
    }
    header .logo:before {
        display: none;
        position: fixed;
        top: 0;
        height: 100vh;
    }
    .scrolled {
        header.mobile:before {
            background: white;
        }
        .menu-trigger i {
            color: $color_grey_dark !important;
        }
        header.mobile .container svg {
            height: 2rem;
        }
    }
    .menu-overlay {
        display: none;
        position: fixed;
        top: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: calc(100vh - 20rem);
        padding-top:10rem;
        padding-bottom: 10rem;
        
        z-index: -1;
        background: $color_brand_dark-blue;
        &__upper-section {
            text-align: center;
            margin-bottom: 2rem;
            a {
                display: block;
                padding: .5rem 0;
                font-size: 1.4rem;
                color: white;
            }
        }
        &__lower-section {
            a {    
                margin-bottom: 2rem;
                padding: .5rem 3rem;
                border: 1px solid white;
            }
        }
    }
    header .my-account, header .sign-up {
        display: block;
        height: auto;
        text-align: center;
        a {
            width: auto;
            height: auto;
            display: inline-block;
        }
    }
    header .logo {
        padding-left: 0;
    }
    /*---CONTENT---*/
    .loaded .home-hero .content {
        top: 22vh;
    }
    .hero.home-hero .content svg.logo-mark {
    width: 6rem;
    }
    .hero.home-hero .content svg {
        width: 85%;
    }
    .hero .heading {
        width: 100%;
        line-height: 1;
    }
    .hero {
        max-height: 50vh;
        min-height: 50vh;
    }
    .vector-wrapper svg {
        top: 4rem;
        right: -100%;
        height: 50%;
    }
    .container {
        grid-template-columns: 1fr;
    }
    .container.reverse {
        grid-template-columns: 1fr;
    }
    .home .sidebar-content, .page-template-memberships .sidebar-content {
        margin-top: 0;
    }
    section {
        margin-bottom: 2rem;
    }
    .main-content .join-cta {
        margin-bottom: 0rem;
    }
    .team-members {
        grid-template-columns: 1fr;
    }
    .team-members__item img {
        width:50%;
    }
    .book-cta {
        border-radius: 0;
        top: initial !important;
        margin-top: 0;
        button i {
            margin-left: 0;
        }
    }
    .memberships .membership-wrap {
        grid-template-columns: 1fr;
    }
    .memberships-cta__item .foot {
        grid-template-columns: 1fr 1fr;
    }
    .book-cta .title-wrapper .title {
        display: none;
    }
    
    .main-content .join-cta,
    .join-cta {
        .upper-section {
            grid-template-columns: 4rem auto;
            i {
                font-size: 2rem;
            }
            .heading {
                font-size: 1.5rem;
            }
        }
        .lower-section {
            padding-left: 0;
        }
        .arrow {
            margin-left: 0;
        }
        
    }
    .courses-sidebar, .membership-sidebar, .password-reset {
        padding: 1rem;
    }
    
    .course-item {
        .summary {
            grid-column: 1/2;
            border-left: 1rem solid #69AA9D;
            padding: 1rem;
        }
    }
    .filter-controls p {
        margin-right: 0.25rem;
        margin-bottom: 0.5rem;
        padding: 0 1rem;
        border-radius: 0.5rem;
        border-right-width: .5rem;
    }
    .form-links__item, .general-links__item {
        grid-template-columns: 8fr 1fr;
        grid-column-gap: 1rem;
        margin-bottom: 1rem;
    }
    .form-links__item a, .general-links__item a {
        height: 2rem;
        width: 2rem;
        font-size: 1.25rem;
    }
    .form-links__item p, .general-links__item p {
        font-size: .9rem;
        line-height: 1.5;
    }
    .details__item i {
        left: 0; 
    }
    .details__item p {
        padding-left: 2rem;
    }
    .button__large {
        padding-left: 1rem;
        i {
            padding-left: 0;
        }
    }
    .woocommerce-billing-fields__field-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 1rem;
    }
    .woocommerce-billing-fields p.form-row input {
        margin-bottom: 0rem;
    }
    
    /*---FOOTER---*/
    footer .footer {
        border-radius: 0;
    }
    footer .footer .contact-section {
        padding-left: 2rem;
        margin-bottom: 1rem;
    }
    footer .footer .contact-section .heading {
        margin-left: -2rem;
    }
    .socket {
        grid-template-columns: repeat(2,1fr);
    }
    .socket .logo-holder {
        grid-column: 1/2;
    }
    .contact .main-content {
        grid-template-columns: 1fr;
    }
    .socket .copyright p {
        line-height: 1.3;
    }
} /*---end medium mq---*/

/*===========SMALL (768px)==========*/

@media only screen and(max-width: 768px) {
    /*---GLOBALS---*/

    /*---HEADER---*/
    .switch-wrapper {
        display: none;
        &.mobile {
            display: block;
            grid-column: span 2;
            .switch-wrapper__label {
                display: inline-block;
            }
        }
    }

    nav .menu-trigger {
        justify-self: flex-end;
        grid-column: 2 / 4;
        width: 5rem;
    }
    .offscreen-nav .menu-wrapper {
        grid-template-columns: repeat(2, 1fr);
        width: unset;
        padding-top:4rem;
    }
    .offscreen-nav .menu-wrapper a:first-of-type {
        grid-row: 1 / 2;
    }
    .scrolled .offscreen-nav .menu-wrapper {
        padding-top:3rem;
    }
    /*---CONTENT---*/
    .introduction {
        width: unset;
    }
    .small-leaders,
    .news-leaders,
    .itinerary-leaders {
        grid-gap: 2rem;
        grid-template-columns: 1fr 1fr;
    }
    .background-image img {
        filter: saturate(1);

    }
    .map-block {
        grid-column: 1 / 4;
        grid-column-gap: 1rem;
    }
    .contact {
        grid-template-columns: 1fr;
        &__form {
            grid-row: 1/2;
        }
    }
    .gallery a {
        filter: saturate(1);
        max-height: 30vh !important;
    }
    .gallery__three-images {
        height: 30vh !important;
    }
    .container__narrow {
        grid-template-columns: 10% 80% 10%;
    }
    .button__boxed {
        background: #4A4A49;
        color: white;
    }
    /*---FOOTER---*/

    footer.footer {
        .container {
            grid-template-columns: 10% 50% 40%;
        }
        .lower .links-menu {
            grid-template-columns: 1fr;
        }
    }
} /*---end small mq---*/

/*===========EXTRA SMALL (576px)==========*/

@media only screen and(max-width: 576px) {
    /*---GLOBALS---*/

    /*---HEADER---*/
    .switch-wrapper {
        display: none;
    }

    /*---CONTENT---*/
    .small-leaders,
    .news-leaders,
    .itinerary-leaders {
        grid-gap: 2rem;
        grid-template-columns: 1fr;
    }
    .heading__2 {
        font-size: 40px;
    }
    .hero .heading__5 {
        margin-bottom: unset;
    }
    .expanding-section__head .content .button {
        width: unset;
    }
    .contact {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        &__details {
            margin-bottom: 1rem;
        }
    }
    .expanding-section__body .content {
        width: unset;
        padding: 3rem 1rem;
    }
    .expanding-section.open .expanding-section__body {
        max-height: 200rem;
    }
    .phonenumber {
        padding-right: 2rem;
    }
    footer.footer .socket .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        .copyright {
            grid-column: 1;
        }
        .termscons {
            grid-column: 2;
        }
        .silverless {
            grid-row: 2;
        }
    }
    .itinerary-wrapper__item .head .heading {
        grid-template-columns: unset;
        grid-template-rows: 1fr 1fr;
        span {
            padding: 0 2rem;
        }
    }
    .itinerary-wrapper__item .body .content {
        grid-template-columns: 10% 80% 10%;
    }

    .container__extra-narrow {
        grid-template-columns: 15% 70% 15%;
    }
    .news-leaders .heading {
        grid-column: span 2;
    }
    .news-leaders__item {
        grid-column: span 2;
    }
    .news-leaders .button {
        grid-column: span 2;
    };
    .map-wrapper {
        display: block;
    }
    /*---FOOTER---*/

    footer.footer {
        .upper {
            >.container {
                grid-template-columns: 1fr;
                padding: 15rem 1rem 3rem;
            }
        }
        .lower {
            .left-col,
            .right-col {
                grid-column: 2/4;
            }
            .left-col {
                margin-bottom: 2rem;
            }
        }
        .socket {
            .container {
                .silverless {
                    grid-row: 3;
                    grid-column: span 2;
                }
                .copyright,
                .termscons {
                    grid-column: span 2;
                    text-align: left;
                }
            }
        }
    }
} /*---end extra small mq---*/
